# Node modules
**/node_modules

# Build folder
lambda/

# API keys
**/*[Kk]ey.json

# Ask CLI configuration
.ask/
ask-resources.json

# Sonarqube configuration
**/.scannerwork
**/sonarqube

# keep the Sonarqube docker compose file though
!code/sonarqube/docker-compose.yml

# Generated images from Alexa skill
skill-package/assets/images/